In [8]:
import os
os.chdir("C:/Users/abhis/OneDrive/BANK-MARKETING-INTELLIGENCE-PLATFORM")

# Importing All Libraries

In [9]:
import numpy as np
from scipy import stats
import pandas as pd
import warnings
import seaborn as sns
from sklearn.metrics import confusion_matrix,accuracy_score,f1_score,precision_score,recall_score
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import OneHotEncoder
import matplotlib.pyplot as plt
from sklearn.preprocessing import StandardScaler
from sklearn.neighbors import KNeighborsClassifier
from sklearn.svm import SVC
from sklearn.naive_bayes import GaussianNB
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
warnings.filterwarnings("ignore")

# Reading Dataset

In [30]:
data = pd.read_csv("bank-full.csv",delimiter=';')

In [31]:
data

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
0,58,management,married,tertiary,no,2143,yes,no,unknown,5,may,261,1,-1,0,unknown,no
1,44,technician,single,secondary,no,29,yes,no,unknown,5,may,151,1,-1,0,unknown,no
2,33,entrepreneur,married,secondary,no,2,yes,yes,unknown,5,may,76,1,-1,0,unknown,no
3,47,blue-collar,married,unknown,no,1506,yes,no,unknown,5,may,92,1,-1,0,unknown,no
4,33,unknown,single,unknown,no,1,no,no,unknown,5,may,198,1,-1,0,unknown,no
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45206,51,technician,married,tertiary,no,825,no,no,cellular,17,nov,977,3,-1,0,unknown,yes
45207,71,retired,divorced,primary,no,1729,no,no,cellular,17,nov,456,2,-1,0,unknown,yes
45208,72,retired,married,secondary,no,5715,no,no,cellular,17,nov,1127,5,184,3,success,yes
45209,57,blue-collar,married,secondary,no,668,no,no,telephone,17,nov,508,4,-1,0,unknown,no
45210,37,entrepreneur,married,secondary,no,2971,no,no,cellular,17,nov,361,2,188,11,other,no

Shape of Dataset

In [32]:
data.shape

(45211, 17)

Information Of Dataset

In [33]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45211 entries, 0 to 45210
Data columns (total 17 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   age        45211 non-null  int64
 1   job        45211 non-null  object
 2   marital    45211 non-null  object
 3   education  45211 non-null  object
 4   default    45211 non-null  object
 5   balance    45211 non-null  int64
 6   housing    45211 non-null  object
 7   loan       45211 non-null  object
 8   contact    45211 non-null  object
 9   day        45211 non-null  int64
 10  month      45211 non-null  object
 11  duration   45211 non-null  int64
 12  campaign   45211 non-null  int64
 13  pdays      45211 non-null  int64
 14  previous   45211 non-null  int64
 15  poutcome   45211 non-null  object
 16  y          45211 non-null  object
dtypes: int64(7), object(10)
memory usage: 5.9+ MB

In [34]:
Y = data['y']
X = data.drop(columns=['y'])

In [37]:
import pandas as pd

df = pd.read_csv("data/processed/bank_data_encoded.csv")

print(df.dtypes)
print(df.iloc[0, 10:20])

age                    int64
default                int64
balance                int64
housing                int64
loan                   int64
day                    int64
duration               int64
campaign               int64
pdays                  int64
previous               int64
y                      int64
job_admin.              bool
job_blue-collar         bool
job_entrepreneur        bool
job_housemaid           bool
job_management          bool
job_retired             bool
job_self-employed       bool
job_services            bool
job_student             bool
job_technician          bool
job_unemployed          bool
job_unknown             bool
marital_divorced        bool
marital_married         bool
marital_single          bool
education_primary       bool
education_secondary     bool
education_tertiary      bool
education_unknown       bool
contact_cellular        bool
contact_telephone       bool
contact_unknown         bool
month_apr               bool
month_aug               bool
month_dec               bool
month_feb               bool
month_jan               bool
month_jul               bool
month_jun               bool
month_mar               bool
month_may               bool
month_nov               bool
month_oct               bool
month_sep               bool
poutcome_failure        bool
poutcome_other          bool
poutcome_success        bool
poutcome_unknown        bool
dtype: object
y                        0
job_admin.           False
job_blue-collar      False
job_entrepreneur     False
job_housemaid        False
job_management        True
job_retired          False
job_self-employed    False
job_services         False
job_student          False
Name: 0, dtype: object

In [36]:
Y

0         no
1         no
2         no
3         no
4         no
        ...
45206    yes
45207    yes
45208    yes
45209     no
45210     no
Name: y, Length: 45211, dtype: object

In [ ]:
job_dummies = pd.get_dummies(
    data["job"],
    prefix="job",
    drop_first=False
)

In [15]:
data.marital.unique()

array(['married', 'single', 'divorced'], dtype=object)

In [16]:
data.education.unique()

array(['tertiary', 'secondary', 'unknown', 'primary'], dtype=object)

In [17]:
data.default.unique()

array(['no', 'yes'], dtype=object)

In [19]:
data.default.unique()

array(['no', 'yes'], dtype=object)

In [18]:
data.housing.unique()

array(['yes', 'no'], dtype=object)

In [20]:
data.loan.unique()

array(['no', 'yes'], dtype=object)

In [22]:
data.month.unique()

array(['may', 'jun', 'jul', 'aug', 'oct', 'nov', 'dec', 'jan', 'feb',
       'mar', 'apr', 'sep'], dtype=object)

In [21]:
data.contact.unique()

array(['unknown', 'cellular', 'telephone'], dtype=object)

In [23]:
data.poutcome.unique()

array(['unknown', 'failure', 'other', 'success'], dtype=object)

In [24]:
data.y.unique()

array(['no', 'yes'], dtype=object)

In [25]:
binary_cols = ["default", "housing", "loan", "y"]

for col in binary_cols:
    data[col] = data[col].map({"yes": 1, "no": 0})

In [26]:
data.head()

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
0,58,management,married,tertiary,0,2143,1,0,unknown,5,may,261,1,-1,0,unknown,0
1,44,technician,single,secondary,0,29,1,0,unknown,5,may,151,1,-1,0,unknown,0
2,33,entrepreneur,married,secondary,0,2,1,1,unknown,5,may,76,1,-1,0,unknown,0
3,47,blue-collar,married,unknown,0,1506,1,0,unknown,5,may,92,1,-1,0,unknown,0
4,33,unknown,single,unknown,0,1,0,0,unknown,5,may,198,1,-1,0,unknown,0

In [ ]:
# for Job specific one
categorical_cols = [
    "job",
    "marital",
    "education",
    "contact",
    "month",
    "poutcome"
]

In [13]:
bool_cols = data.select_dtypes(include="bool").columns
data[bool_cols] = data[bool_cols].astype(int)

Description Of Dataset

In [14]:
data.describe()

,age,default,balance,housing,loan,day,duration,campaign,pdays,previous,...,month_jul,month_jun,month_mar,month_may,month_nov,month_oct,month_sep,poutcome_other,poutcome_success,poutcome_unknown
count,45211.000000,45211.000000,45211.000000,45211.000000,45211.000000,45211.000000,45211.000000,45211.000000,45211.000000,45211.000000,...,45211.000000,45211.000000,45211.000000,45211.000000,45211.000000,45211.000000,45211.000000,45211.000000,45211.000000,45211.000000
mean,40.936210,0.018027,1362.272058,0.555838,0.160226,15.806419,258.163080,2.763841,40.197828,0.580323,...,0.152507,0.118135,0.010551,0.304483,0.087810,0.016323,0.012807,0.040698,0.033421,0.817478
std,10.618762,0.133049,3044.765829,0.496878,0.366820,8.322476,257.527812,3.098021,100.128746,2.303441,...,0.359516,0.322771,0.102174,0.460193,0.283022,0.126718,0.112441,0.197592,0.179735,0.386278
min,18.000000,0.000000,-8019.000000,0.000000,0.000000,1.000000,0.000000,1.000000,-1.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,33.000000,0.000000,72.000000,0.000000,0.000000,8.000000,103.000000,1.000000,-1.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000
50%,39.000000,0.000000,448.000000,1.000000,0.000000,16.000000,180.000000,2.000000,-1.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000
75%,48.000000,0.000000,1428.000000,1.000000,0.000000,21.000000,319.000000,3.000000,-1.000000,0.000000,...,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000
max,95.000000,1.000000,102127.000000,1.000000,1.000000,31.000000,4918.000000,63.000000,871.000000,275.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [15]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45211 entries, 0 to 45210
Data columns (total 43 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   age                  45211 non-null  int64
 1   default              45211 non-null  int64
 2   balance              45211 non-null  int64
 3   housing              45211 non-null  int64
 4   loan                 45211 non-null  int64
 5   day                  45211 non-null  int64
 6   duration             45211 non-null  int64
 7   campaign             45211 non-null  int64
 8   pdays                45211 non-null  int64
 9   previous             45211 non-null  int64
 10  y                    45211 non-null  int64
 11  job_blue-collar      45211 non-null  int64
 12  job_entrepreneur     45211 non-null  int64
 13  job_housemaid        45211 non-null  int64
 14  job_management       45211 non-null  int64
 15  job_retired          45211 non-null  int64
 16  job_self-employed    45211 non-null  int64
 17  job_services         45211 non-null  int64
 18  job_student          45211 non-null  int64
 19  job_technician       45211 non-null  int64
 20  job_unemployed       45211 non-null  int64
 21  job_unknown          45211 non-null  int64
 22  marital_married      45211 non-null  int64
 23  marital_single       45211 non-null  int64
 24  education_secondary  45211 non-null  int64
 25  education_tertiary   45211 non-null  int64
 26  education_unknown    45211 non-null  int64
 27  contact_telephone    45211 non-null  int64
 28  contact_unknown      45211 non-null  int64
 29  month_aug            45211 non-null  int64
 30  month_dec            45211 non-null  int64
 31  month_feb            45211 non-null  int64
 32  month_jan            45211 non-null  int64
 33  month_jul            45211 non-null  int64
 34  month_jun            45211 non-null  int64
 35  month_mar            45211 non-null  int64
 36  month_may            45211 non-null  int64
 37  month_nov            45211 non-null  int64
 38  month_oct            45211 non-null  int64
 39  month_sep            45211 non-null  int64
 40  poutcome_other       45211 non-null  int64
 41  poutcome_success     45211 non-null  int64
 42  poutcome_unknown     45211 non-null  int64
dtypes: int64(43)
memory usage: 14.8 MB

In [17]:
data.to_csv("bank_data_encoded.csv", index=False)

In [18]:
import pandas as pd

df = pd.read_csv("bank_data_encoded.csv")

features = [col for col in df.columns if col != "y"]

with open("ml/feature_columns.txt", "w") as f:
    for col in features:
        f.write(col + "\n")

# Correlation Between Dataset

In [ ]:
data.corr()

# Names of columns

In [ ]:
data.columns

# Checking Missing Values

In [ ]:
data.isnull().sum()

# Exploratory Data Analysis

In [ ]:
data.age

In [ ]:
data.age.unique()

In [ ]:
data.age.value_counts()

In [ ]:
plt.figure(figsize=(10,5))
sns.histplot(data.age)

In [ ]:
plt.figure(figsize=(10,5))
sns.distplot(data.age)

In [ ]:
plt.figure(figsize=(10,5))
sns.boxplot(data.age)

In [ ]:
data.job

In [ ]:
data.job.unique()

In [ ]:
data.job.value_counts()

In [ ]:
plt.figure(figsize=(15,5))
sns.countplot(data.job)

In [ ]:
plt.figure(figsize=(18,8))
data["job"].value_counts().plot(kind="pie",autopct="%.2f")

In [ ]:
data.marital

In [ ]:
data.marital.unique()

In [ ]:
data.marital.value_counts()

In [ ]:
plt.figure(figsize=(10,5))
sns.countplot(data.marital)

In [ ]:
plt.figure(figsize=(10,5))
data["marital"].value_counts().plot(kind="pie",autopct="%.2f")

In [ ]:
data.education

In [ ]:
data.education.unique()

In [ ]:
data.education.value_counts()

In [ ]:
plt.figure(figsize=(15,5))
sns.countplot(data.education)

In [ ]:
plt.figure(figsize=(10,5))
data["education"].value_counts().plot(kind="pie",autopct="%.2f")

In [ ]:
data.default

In [ ]:
data.default.unique()

In [ ]:
data.default.value_counts()

In [ ]:
plt.figure(figsize=(10,5))
sns.countplot(data.default)

In [ ]:
data.housing

In [ ]:
data.housing.unique()

In [ ]:
data.housing.value_counts()

In [ ]:
plt.figure(figsize=(10,5))
sns.countplot(data.housing)

In [ ]:
plt.figure(figsize=(10,5))
data["housing"].value_counts().plot(kind="pie",autopct="%.2f")

In [ ]:
data.loan

In [ ]:
data.loan.unique()

In [ ]:
data.loan.value_counts()

In [ ]:
plt.figure(figsize=(10,5))
sns.countplot(data.loan)

In [ ]:
plt.figure(figsize=(10,5))
data["loan"].value_counts().plot(kind="pie",autopct="%.2f")

In [ ]:
data.contact

In [ ]:
data.contact.unique()

In [ ]:
data.contact.value_counts()

In [ ]:
plt.figure(figsize=(10,5))
sns.countplot(data.contact)

In [ ]:
plt.figure(figsize=(10,5))
data["contact"].value_counts().plot(kind="pie",autopct="%.2f")

In [ ]:
data.day_of_week

In [ ]:
data.day_of_week.unique()

In [ ]:
data.day_of_week.value_counts()

In [ ]:
plt.figure(figsize=(10,5))
sns.countplot(data.day_of_week)

In [ ]:
plt.figure(figsize=(10,5))
data["day_of_week"].value_counts().plot(kind="pie",autopct="%.2f")

In [ ]:
data.month

In [ ]:
data.month.unique()

In [ ]:
a = ['may','jun','nov','sep','jul','aug','mar','oct','apr','dec']
sorted(a)

In [ ]:
data.month.value_counts()

In [ ]:
plt.figure(figsize=(10,5))
sns.countplot(data.month)

In [ ]:
plt.figure(figsize=(15,10))
data["month"].value_counts().plot(kind="pie",autopct="%.2f")

In [ ]:
data.duration

In [ ]:
plt.figure(figsize=(20,5))
sns.histplot(data.duration)

In [ ]:
plt.figure(figsize=(20,5))
sns.distplot(data.duration)

In [ ]:
plt.figure(figsize=(20,5))
sns.boxplot(data.duration)

In [ ]:
data.campaign

In [ ]:
data.campaign.unique()

In [ ]:
data.campaign.value_counts()

In [ ]:
plt.figure(figsize=(20,5))
sns.histplot(data.campaign)

In [ ]:
plt.figure(figsize=(20,8))
sns.distplot(data.campaign)

In [ ]:
plt.figure(figsize=(20,5))
sns.boxplot(data.campaign)

In [ ]:
data.pdays

In [ ]:
data.pdays.unique()

In [ ]:
data.pdays.value_counts()

In [ ]:
plt.figure(figsize=(20,5))
sns.histplot(data.pdays)

In [ ]:
plt.figure(figsize=(20,5))
sns.distplot(data.pdays)

In [ ]:
sns.boxplot(data.pdays)

In [ ]:
data.previous

In [ ]:
data.previous.unique()

In [ ]:
data.previous.value_counts()

In [ ]:
plt.figure(figsize=(20,5))
sns.histplot(data.previous)

In [ ]:
plt.figure(figsize=(20,5))
sns.distplot(data.previous)

In [ ]:
plt.figure(figsize=(20,5))
sns.boxplot(data.previous)

In [ ]:
data.poutcome

In [ ]:
data.poutcome.unique()

In [ ]:
data.poutcome.value_counts()

In [ ]:
plt.figure(figsize=(20,5))
sns.countplot(data.poutcome)

In [ ]:
plt.figure(figsize=(10,5))
data["poutcome"].value_counts().plot(kind="pie",autopct="%.2f")

In [ ]:
data["emp.var.rate"]

In [ ]:
data["emp.var.rate"].unique()

In [ ]:
data["emp.var.rate"].value_counts()

In [ ]:
plt.figure(figsize=(20,5))
sns.histplot(data["emp.var.rate"])

In [ ]:
plt.figure(figsize=(20,5))
sns.distplot(data["emp.var.rate"])

In [ ]:
plt.figure(figsize=(20,5))
sns.boxplot(data["emp.var.rate"])

In [ ]:
data["cons.price.idx"]

In [ ]:
data["cons.price.idx"].unique()

In [ ]:
data["cons.price.idx"].value_counts()

In [ ]:
plt.figure(figsize=(20,5))
sns.histplot(data["cons.price.idx"])

In [ ]:
plt.figure(figsize=(20,5))
sns.distplot(data["cons.price.idx"])

In [ ]:
plt.figure(figsize=(20,5))
sns.boxplot(data["cons.price.idx"])

In [ ]:
data["cons.conf.idx"]

In [ ]:
data["cons.conf.idx"].unique()

In [ ]:
data["cons.conf.idx"].value_counts()

In [ ]:
plt.figure(figsize=(20,5))
sns.histplot(data["cons.conf.idx"])

In [ ]:
plt.figure(figsize=(20,5))
sns.distplot(data["cons.conf.idx"])

In [ ]:
plt.figure(figsize=(20,5))
sns.boxplot(data["cons.conf.idx"])

In [ ]:
data["euribor3m"]

In [ ]:
data["euribor3m"].unique()

In [ ]:
data["euribor3m"].value_counts()

In [ ]:
plt.figure(figsize=(20,5))
sns.histplot(data["euribor3m"])

In [ ]:
plt.figure(figsize=(20,5))
sns.distplot(data["euribor3m"])

In [ ]:
plt.figure(figsize=(20,5))
sns.boxplot(data["euribor3m"])

In [ ]:
data["nr.employed"]

In [ ]:
data["nr.employed"].unique()

In [ ]:
data["nr.employed"].value_counts()

In [ ]:
plt.figure(figsize=(20,5))
sns.histplot(data["nr.employed"])

In [ ]:
plt.figure(figsize=(20,5))
sns.distplot(data["nr.employed"])

In [ ]:
plt.figure(figsize=(20,5))
sns.boxplot(data["nr.employed"])

# Feature Engineering Process

In [ ]:
ohe1 = OneHotEncoder()
X = ohe1.fit_transform(data.job.values.reshape(-1,1)).toarray()
OHE1 = pd.DataFrame(X, columns = ["admin.","blue-collar","entrepreneur","housemaid","management","retired","self-employed",
                                 "services","student","technician","unemployed","unknown"])
data = pd.concat([data, OHE1], axis=1)
data = data.drop("job",axis = 1)

In [ ]:
ohe2 = OneHotEncoder()
X = ohe2.fit_transform(data.marital.values.reshape(-1,1)).toarray()
OHE2 = pd.DataFrame(X, columns = ["divorced","married","single","unknown"])
data = pd.concat([data, OHE2], axis=1)
data = data.drop("marital",axis = 1)

In [ ]:
ohe3 = OneHotEncoder()
X = ohe3.fit_transform(data.education.values.reshape(-1,1)).toarray()
OHE3 = pd.DataFrame(X, columns = ["basic.4y","basic.6y","basic.9y","high.school","illiterate","professional.course","university.degree","unknown"])
data = pd.concat([data, OHE3], axis=1)
data = data.drop("education",axis = 1)

In [ ]:
le1 = LabelEncoder()
data["default"] = le1.fit_transform(data.default)

In [ ]:
le2 = LabelEncoder()
data["housing"] = le2.fit_transform(data.housing)

In [ ]:
le3 = LabelEncoder()
data["loan"] = le1.fit_transform(data.loan)

In [ ]:
ohe4 = OneHotEncoder()
X = ohe4.fit_transform(data.contact.values.reshape(-1,1)).toarray()
OHE4 = pd.DataFrame(X, columns = ["cellular","telephone"])
data = pd.concat([data, OHE4], axis=1)
data = data.drop("contact",axis = 1)

In [ ]:
ohe5 = OneHotEncoder()
X = ohe5.fit_transform(data.month.values.reshape(-1,1)).toarray()
OHE5 = pd.DataFrame(X, columns = ['apr', 'aug', 'dec', 'jul', 'jun', 'mar', 'may', 'nov', 'oct', 'sep'])
data = pd.concat([data, OHE5], axis=1)
data = data.drop("month",axis = 1)

In [ ]:
ohe6 = OneHotEncoder()
X = ohe6.fit_transform(data.poutcome.values.reshape(-1,1)).toarray()
OHE6 = pd.DataFrame(X, columns = ["failure","nonexistent","success"])
data = pd.concat([data, OHE6], axis=1)
data = data.drop("poutcome",axis = 1)

In [ ]:
ohe7 = OneHotEncoder()
X = ohe7.fit_transform(data.day_of_week.values.reshape(-1,1)).toarray()
OHE7 = pd.DataFrame(X, columns = ['fri', 'mon', 'thu', 'tue', 'wed'])
data = pd.concat([data, OHE7], axis=1)
data = data.drop("day_of_week",axis = 1)

In [ ]:
le4 = LabelEncoder()
data["y"] = le4.fit_transform(data.y)

In [ ]:
data

In [ ]:
z = np.abs(stats.zscore(data))
print(z)

In [ ]:
threshold = 3
 
# Position of the outlier
print(np.where(z > 3))

In [ ]:
X = data.drop("y",axis = 1)
y = data.y

In [ ]:
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size = 0.2,random_state =0)

In [ ]:
from sklearn.linear_model import LogisticRegression
classifier = LogisticRegression(solver='liblinear')
classifier.fit(X_train,y_train)
train = classifier.predict(X_train)
pred = classifier.predict(X_test)
cm = confusion_matrix(y_test,pred)
print(cm)
print("accuracy",accuracy_score(y_test,pred)*100,"%")
print(recall_score(y_test,pred))
print(precision_score(y_test,pred))
print(f1_score(y_test,pred))

In [ ]:
clf = KNeighborsClassifier()
clf.fit(X_train,y_train)
y_pred = clf.predict(X_test)
knn = accuracy_score(y_test,y_pred)*100
print("Accuracy Score:",accuracy_score(y_test,y_pred)*100,"%")
print("Recall Score:",recall_score(y_test,y_pred)*100,"%")
print("Precision Score:",precision_score(y_test,y_pred)*100,"%")
print("F1 Score:",f1_score(y_test,y_pred)*100,"%")
pd.crosstab(y_pred,y_test)

In [ ]:
k_range = range(1,10)
scores = {}
scores_list = []
for k in k_range:
    clf = KNeighborsClassifier(n_neighbors = k)
    clf.fit(X_train,y_train)
    y_pred = clf.predict(X_test)
    scores[k] = accuracy_score(y_test,y_pred)
    scores_list.append(accuracy_score(y_test,y_pred))

In [ ]:
%matplotlib inline
import matplotlib.pyplot as plt
plt.plot(k_range,scores_list)
plt.xlabel("Value of K")
plt.ylabel("Accuracy")
plt.show()

In [ ]:
clf = KNeighborsClassifier(n_neighbors = 9)
clf.fit(X_train,y_train)
y_pred = clf.predict(X_test)
knn_4 = accuracy_score(y_test,y_pred)*100
print("Accuracy Score:",accuracy_score(y_test,y_pred)*100,"%")
print("Recall Score:",recall_score(y_test,y_pred)*100,"%")
print("Precision Score:",precision_score(y_test,y_pred)*100,"%")
print("F1 Score:",f1_score(y_test,y_pred)*100,"%")
pd.crosstab(y_pred,y_test)

In [ ]:
clf = SVC(kernel="rbf")
clf.fit(X_train,y_train)
y_pred = clf.predict(X_test)
svc_rbf = accuracy_score(y_test,y_pred)*100
print("Accuracy Score:",accuracy_score(y_test,y_pred)*100,"%")
print("Recall Score:",recall_score(y_test,y_pred)*100,"%")
print("Precision Score:",precision_score(y_test,y_pred)*100,"%")
print("F1 Score:",f1_score(y_test,y_pred)*100,"%")
pd.crosstab(y_pred,y_test)

In [ ]:
classifier = GaussianNB()
classifier.fit(X_train,y_train)
y_pred = classifier.predict(X_test)
gus = accuracy_score(y_test,y_pred)*100
print("Accuracy Score:",accuracy_score(y_test,y_pred)*100,"%")
print("Recall Score:",recall_score(y_test,y_pred)*100,"%")
print("Precision Score:",precision_score(y_test,y_pred)*100,"%")
print("F1 Score:",f1_score(y_test,y_pred)*100,"%")
pd.crosstab(y_pred,y_test)

In [ ]:
clf = DecisionTreeClassifier()
clf.fit(X_train,y_train)
y_pred = clf.predict(X_test)
svc_rbf = accuracy_score(y_test,y_pred)*100
print("Accuracy Score:",accuracy_score(y_test,y_pred)*100,"%")
print("Recall Score:",recall_score(y_test,y_pred)*100,"%")
print("Precision Score:",precision_score(y_test,y_pred)*100,"%")
print("F1 Score:",f1_score(y_test,y_pred)*100,"%")
pd.crosstab(y_pred,y_test)

In [ ]:
# List of values to try for max_depth:
max_depth_range = list(range(1, 20))
# List to store the accuracy for each value of max_depth:
accuracy = []
for depth in max_depth_range:
    clf = DecisionTreeClassifier(max_depth = depth)
    clf.fit(X_train, y_train)
    score = clf.score(X_test, y_test)
    accuracy.append(score)

In [ ]:
%matplotlib inline
plt.figure(figsize=(20,10))
import matplotlib.pyplot as plt
plt.plot(max_depth_range,accuracy)
plt.xlabel("Value of K")
plt.ylabel("Accuracy")
plt.show()

In [ ]:
clf = DecisionTreeClassifier(max_depth = 5)
clf.fit(X_train,y_train)
y_pred = clf.predict(X_test)
svc_rbf = accuracy_score(y_test,y_pred)*100
print("Accuracy Score:",accuracy_score(y_test,y_pred)*100,"%")
print("Recall Score:",recall_score(y_test,y_pred)*100,"%")
print("Precision Score:",precision_score(y_test,y_pred)*100,"%")
print("F1 Score:",f1_score(y_test,y_pred)*100,"%")
pd.crosstab(y_pred,y_test)

In [ ]:
clf = RandomForestClassifier()
clf.fit(X_train,y_train)
y_pred = clf.predict(X_test)
svc_rbf = accuracy_score(y_test,y_pred)*100
print("Accuracy Score:",accuracy_score(y_test,y_pred)*100,"%")
print("Recall Score:",recall_score(y_test,y_pred)*100,"%")
print("Precision Score:",precision_score(y_test,y_pred)*100,"%")
print("F1 Score:",f1_score(y_test,y_pred)*100,"%")
pd.crosstab(y_pred,y_test)

In [ ]:
# List of values to try for max_depth:
max_depth_range = list(range(1, 30))
# List to store the accuracy for each value of max_depth:
accuracy = []
for depth in max_depth_range:
    clf = RandomForestClassifier(n_estimators = depth)
    clf.fit(X_train, y_train)
    score = clf.score(X_test, y_test)
    accuracy.append(score)

In [ ]:
%matplotlib inline
plt.figure(figsize=(20,10))
import matplotlib.pyplot as plt
plt.plot(max_depth_range,accuracy)
plt.xlabel("Value of K")
plt.ylabel("Accuracy")
plt.show()

In [ ]:
clf = RandomForestClassifier(n_estimators = 12)
clf.fit(X_train,y_train)
y_pred = clf.predict(X_test)
svc_rbf = accuracy_score(y_test,y_pred)*100
print("Accuracy Score:",accuracy_score(y_test,y_pred)*100,"%")
print("Recall Score:",recall_score(y_test,y_pred)*100,"%")
print("Precision Score:",precision_score(y_test,y_pred)*100,"%")
print("F1 Score:",f1_score(y_test,y_pred)*100,"%")
pd.crosstab(y_pred,y_test)